.quizPage {
    width: 70%;
    padding-left: 15%;
    text-align: center;
}

.score {
    display: flex;
    justify-content: space-between;
}

.question_options {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15%;
}

.question_options button {
    color: darkviolet;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 20px;
}

.question_options button:hover {
    color: white;
    background-color: darkviolet;
}