.nav {
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 700;
}

.nav hr {
    width: 70%;
    height: 0.1rem;
    background-color: white;
}