@import url('http://fonts.cdnfonts.com/css/android-assassin');

.app {
    font-family: 'Android Assassin', sans-serif;                                        
    background: url("../public/question-mark.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}